A
{
    TEXT-DECORATION: none; color:#bdd7f5
}
A:hover
{
    COLOR: #FFFFFF
}
BODY
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana
}
.GRONISTEXT
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana
}
.GRONISMENU
{
    FONT-SIZE: 7pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana
}
.GRONISMAINMENU
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana
}